
@import "variables";

html, form, input, button {

  font: 16px/1.42857143 "Open Sans", Arial, sans-serif;

  @media @small-screen {

    font-size: 12px;

  }

}

main {

  display: flex;

  height: 100vh;

  align-items: center;
}
