
.no-flexbox {

  main {
    display: block;
    position: relative;

  }

  .login-form {

    position: absolute;
    width: 50%;
    max-width: 400px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    &__field {

      &-fallback-label {
        display: block;
        margin-bottom: .5em;
      }

    }

  }

  .user-greeting {

    position: absolute;

    left: 50%;
    top: 50%;

    margin: auto;
    text-align: center;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

  }


}
