
.fontFace (@title, @path, @family, @protraction, @weight, @style) {

  @font-face {
    font-family: @title;

    src: url("@{path}/@{family}-@{protraction}.eot");
    src: url("@{path}/@{family}-@{protraction}.eot?#iefix") format("embedded-opentype"),
      url("@{path}/@{family}-@{protraction}.woff2") format("woff2"),
      url("@{path}/@{family}-@{protraction}.woff") format("woff"),
      url("@{path}/@{family}-@{protraction}.ttf") format("truetype"),
      url("@{path}/@{family}-@{protraction}.svg#@{family}-@{protraction}") format("svg");

    font-weight: @weight;
    style: @style;

  }

}

.fontFace("Open Sans", "../fonts", "OpenSans", "Regular", 400, normal);
.fontFace("Open Sans", "../fonts", "OpenSans", "Bold", bold, normal);
.fontFace("Open Sans", "../fonts", "OpenSans", "Light", 100, normal);
