
.login-form {

  background: #f7f7f7;

  border-radius: .5em;

  margin: auto;
  padding: 1em;

  width: 50%;
  max-width: 400px;

  &__heading {

    text-align: center;

  }

  &__field {
    display: block;
    position: relative;

    padding-left: 1em;
    padding-right: 1em;

    margin-bottom: 1em;

    user-select: none;

    &-input {
      width: 100%;

      box-sizing: border-box;

      padding: .5em;

      transition: all .3s ease-in-out;

      border: 2px solid #00b336;
      border-radius: .5em;
      outline: none;

      &--checkbox {
        display: none;

      }

    }

    &-styled-input, &-styled-input-label {

      display: inline-block;
      vertical-align: middle;

    }

    &-styled-input {

      width: 20px;
      height: 20px;

      background: #fff;

      overflow: hidden;
      position: relative;

      outline: none;
      border: 2px solid #00b336;

      &:after {

        content: "";

        display: none;

        position: absolute;

        top: 0;
        left: -10px;
        right: 0;
        bottom: 0;
        margin: auto;

        width: 40px;
        height: 40px;

        background: url("../images/icon-check.svg") no-repeat 50% 50% /contain;

      }

    }


    &-input--checkbox:checked + &-styled-input {

      &:after {
        display: inline-block;
      }

    }

    &--invalid-field &-input {

      transition: all .3s ease-in-out;
      border-color: #e70000;
    }

    &-fallback-label {
      display: none;
    }

  }

  &__submit-button {

    color: #fff;
    background: #00b336;

    cursor: pointer;

    display: block;

    margin: auto;
    padding: .5em 2em;

    border: none;
    outline: none;

    border-radius: .5em;

    text-align: center;
    font-weight: bold;

  }

  &__error-message {

    color: #e70000;
    margin: .3em 0 1em;
    display: block;

    transition: all .3s ease-in-out;

  }

}
